@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap");
.IntroWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  height: 100%;
}
.LeftInt {
  min-width: 770px;
}
.IntroTXT {
  font-family: var(--typo-Satoshi-Bold), Courier, monospace;
  font-size: var(--font-Introtxt);
  line-height: 145px;
  color: var(--color-text);
}
.IntrigtTop {
  font-family: "Inter", Courier, monospace;
  font-size: 24px;
  color: white;
  line-height: 34px;
  font-weight: 200;
  text-align: right;
}
.IntrigtbotFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.IntrBotLT {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.ImgArrow {
  width: 50px;
  height: 50px;
}
.IntrRTtxt {
  font-family: "Inter", Courier, monospace;
  font-size: 32px;
  color: #862df4;
  font-weight: 500;
  text-align: right;
}

@media only screen and (max-width: 1241px) {
  .LeftInt {
    min-width: auto;
  }
  .IntrigtTop {
    text-align: left;
  }
}
@media only screen and (max-width: 1025px) {
  .IntroWrapper {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 426px) {
  .IntroTXT {
    font-size: 80px;
    line-height: 97px;
  }
  .IntrigtbotFlex {
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .IntroTXT {
    font-size: 58px;
    line-height: 78px;
  }
}
