.footerHeader {
  color: #fff;
  font-family: "Inter", Courier, monospace;
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 80px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

.footercontent {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.footeredge,
.footeredgelinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footeredge {
  margin: 20px 0px;
}
.mission {
  width: 300px;
}
.footlinks {
  padding-left: 14px;
  font-size: 20px;
  border-bottom: 1px solid hwb(0 100% 0% / 0);
}
.footerLinktxt {
  border-bottom: 1px solid #ffffff00;
  width: 0%;
  display: flex;
}

.footerLinktxt:hover {
  border-bottom: 1px solid #ffffff;
  transition-duration: 0.5s;
  width: 100%;
}
.arrw {
  width: 20px;
  margin: 0px 14px;
}
@media only screen and (max-width: 614px) {
  .footercontent {
    flex-wrap: wrap;
  }
  .socilalinks {
    padding: 32px 0px;
    width: 100%;
  }
  .footerLinktxt {
    justify-content: space-between;
    width: 100%;
    padding: 8px 0px;

  }
  .footerHeader {
    font-size: 80px;
  }
}
@media only screen and (max-width: 540px) {
  .footeredge {
    flex-direction: column-reverse;
  }
  .footeredgelinks {
    justify-content: space-between;
    padding: 40px 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .footerHeader {
    font-size: 58px;
  }
  .footlinks:nth-of-type(2) {
    padding: 0px 8px;
  }
  .footlinks {
    padding: 0px;
    font-size: 18px;
  }
  .footeredgetxt{
    font-size: 10px;
  }
  .socilalinks {
  }
  .footeredgelinks {
    padding: 12px 0px;
  }

}