@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000912;
}
.MainSec {
  max-width: 1400px;
  background-color: #000912;
  margin: 0px 140px;
}
body {
  background-color: #000912;
}
@media only screen and (max-width: 1025px) {
  .MainSec {
    margin: 0px 40px;
  }
}
@media only screen and (max-width: 425px) {
  .MainSec {
    margin: 0px 20px;
  }
}